/**
Style of password reset requirements is set using this file
 */

.must-container{
    margin-bottom: 0.5em;
    width:100%
    /* border: 0.1em solid #073B4C; */
}

.must-item{
    position: relative;
    /* width: 15em; */
    height: 1em;
    padding: 0.2em 0;
}

.must-text{
    position: absolute;
    z-index: 0;
    width: 100%;
    padding: 0;
    margin: 10px;
    line-height: 1px;
}

.must-line{
    position: absolute;
    z-index: 1;
    top: 0.5em;
    width: 0;
    height: 0.2em;
    background-color: #00FF00;
    /* background-color: #EF476F; */
    transition: 0.5s;
}

.cross-out{
    width: 100%;
}

/* misc styling for form elements */
label{
    padding-bottom: 1em;
    font-size: 0.8em;
}

input{
    padding: 0.4em 0.5em;
}

h4{
    padding-top: 1em;
    margin: 0.7em;
    line-height: 0;
}
